@import '~@angular/material/theming';

:host {
  display: block;

  ::ng-deep {
    .mat-expansion-panel-header {
      padding: 10px 24px;
      height: unset;
    }
  }
}

.task-item--done {
  .task-item__title {
    color:map-get($mat-indigo, 500);
    font-weight: bold;
  }
}
